# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Output of 'npm pack'

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Prisma
.env*.local
prisma/*.migration
prisma/migrations
prisma/*.db
prisma/dev.db

# Next.js build output
.next
out

# Dist folders
dist
build
.build

# Serverless directories
.serverless
.webpack

# Stores VS Code workspace settings.code-workspace

# Obfuscated key files

# SQLite databases

# Data folders
data/

# Coverage directory used by tools like istanbul
coverage

# Local .terraform directories

# .tfstate files

# Crash log files
crash.log

# Ignore all .env files
.env*

# Temp files
.tmp/

# Yarn Zero-Installs File
.yarn/install-state.gz

# Mac
.DS_Store

# Editor directories and files
.vscode